version: '3.4'
services:
  netbox:
    image: netbox_schyconf:1.0
    volumes:
    - ./initializers:/opt/netbox/initializers:z,ro ## <-- Replace `my_initializers` with the name of your folder
  nginx:
    ports:
      - 8000:8080