version: '3.4'
services:
  netbox:
    image: netbox_schyconf:1.0
    ports: 8000:8080
    volumes:
    - ./initializers:/opt/netbox/initializers:z,ro ## <-- Replace `my_initializers` with the name of your folder
 