[Unit]
Description=Network automation web app
After=network.target

[Service]
User=sutley 
#use your own user and directory
WorkingDirectory=/flask
ExecStart=/usr/bin/python3 /optimizing_cpes/flask/app.py
Restart=always

[Install]
WantedBy=multi-user.target
