version: '3.4'
services:
  flask:
    image: flask:0.0.7
    user: 'root'
    volumes:
      - ./ansible:/ansible/playbooks
      - ./flask:/flask
      - ./python:/python
      - ./ssh:/root/.ssh/
networks:
  netbox-docker_default:
    external: true
    driver: bridge